/* Default (light) theme */
:root {
  --monokai-magenta: #ff004b;
  --monokai-blue: #00b3e3;
  --monokai-grey: #7e7e7e;
  --monokai-green: #4faf00;
  --monokai-bg-grey: #f0f0f0;
  --monokai-bg: #fefefe;
  --monokai-yellow: #ff8f00;
  --monokai-purple: #6054d0;
  --bg-blocks: #fafafa;
}

/* Dark theme overrides */
@media (prefers-color-scheme: dark) {
  :root {
    --monokai-magenta: #fc1a70;
  }
}

pre {
  background-color: var(--bg-blocks);
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 5px;
}

code {
  font-size: 1.2em !important;
}

.code-keyword {
  color: #ff004b;
  font-weight: bold;
}
.code-type {
  color: var(--monokai-blue);
  font-weight: bold;
}
.code-comment {
  color: var(--monokai-grey);
  font-style: italic;
}
.code-function {
  color: var(--monokai-green);
  font-weight: bold;
}
.code-string {
  color: var(--monokai-yellow);
  font-weight: bold;
}
.code-boolean {
  color: var(--monokai-purple);
  font-weight: bold;
}
.code-number {
  color: var(--monokai-purple);
  font-weight: bold;
}
.code-secondary {
  color: var(--monokai-grey);
}
